.git
.gitignore
.pytest_cache
__pycache__
*.pyc

venv/
models/
datasets/
checkpoints/
docs/
extension/
phishing_detector/
training/
scripts/
tests/
backend/tests/

*.md
estructura.txt
estructura_completa.txt
.env
